<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@item.latitude%>, <%=@item.longitude%>)
    });
  </script>
<% end %>

<div class="container" id="flashcontainer">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
</div>
<div class='container' style="margin:auto;">
    <div>
        <h1><%= @item.name %> </h1>
        <% if @item.user_id == current_user.id %>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Update 
            </button>
            <%= link_to 'Delete', item_path(@item.id), class:"btn btn-outline-danger",
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <%= render 'form', item: @item %>
        </div>
    </div>


    <div class="card flex-row flex-wrap mb-4">
        <div class="card-header border-0">
            <img src=<%= @item.image_url(:thumb).to_s %> alt="">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title"> $ <%= @item.price %>.00 </h4>
            <p class="card-text"> <strong>Description</strong> <%= @item.description %> </p>
            <p class="card-text"> <strong>Condition</strong> <%= @item.condition.titlecase %> </p>
        </div>
        <div class="w-100"></div>
    </div>
</div>

<div class='container'>
    <div class='row'>
        <div class='col-sm'>
            <h2>Seller</h2>
            <div class="card border-0" style="width: 18rem;">
                <img class="card-img-top" src=<%=@user.image_url(:thumb).to_s%> style='border-radius:145px;' alt="Card image cap">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class='col-sm'>
            <div>
                <h2>Bidders | Highest bid: <% if @item.bids.count > 0 %> $ <%= @highest_bid.amount %> <% end %></h2>
                <!-- Button trigger modal -->
                <% if current_user.id != @item.user_id %>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="position:absolute; right:0; top:0;">
                    Bid
                    </button>
                <% end %>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <%= form_with scope: :bid, url: create_bid_path(@item.id), local: true do |form| %>
                                <%= form.label :"Amount" %>
                                <%= form.text_field :amount %>
                                <%= form.button :submit => "", class: "btn btn-primary btn-xs" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ^ End of modal -->

            <% @item_bids.each do |bid| %>
                <div class="card flex-row flex-wrap mb-4">
                    <div class="card-header border-0">
                        <img src=<%=bid.user.image_url(:thumb).to_s%> alt="" style="width:2.5rem; border-radius:35px;">
                    </div>
                    <div class="card-block px-2">
                        <h4 class="card-title" style="position:absolute; top:1rem;"><%=bid.user.username%></h4>
                        <h5 style="position:absolute; right:2.5rem; top:1rem;">$<%=bid.amount%></h5>
                    </div>
                    <div class="w-100"></div>
                    <div class="card-footer w-100 text-muted" style="padding:1px; text-align:right;">
                        <span><%= distance_of_time_in_words(Time.current - bid.created_at )%> ago </span>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class='row'>
    <p>
        <div id="map" style="width:100%; height:400px;"></div>
    </p>
    </div>
</div>
<script>
function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
    center: myCoords,
    zoom: 14
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var marker = new google.maps.Marker({
        position: myCoords,
        map: map
    });
}
</script>
